---
swagger: "2.0"
info:
  description: "API to manage course data"
  version: "1.0.0"
  title: "Course API"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "courses.golf.danpalmer101.io"
basePath: "/v2"
schemes:
- "http"
paths:
  /courses:
    get:
      summary: "Get all courses"
      description: "Get a list of all courses"
      operationId: "getAllCourses"
      produces:
      - "application/json"
      parameters:
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Course"
      security:
      - golf_auth:
        - "read:courses"
    post:
      summary: "Add a course"
      description: "Add a course with the given data"
      operationId: "addCourse"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "course data"
        required: true
        schema:
          $ref: "#/definitions/Course"
      responses:
        200:
          description: "Success"
        405:
          description: "Invalid data"
      security:
      - golf_auth:
        - "write:courses"
  /courses/{course_id}:
    get:
      summary: "Get a course"
      description: "Returns a single course"
      operationId: "getCourseById"
      produces:
      - "application/json"
      parameters:
      - name: "course_id"
        in: "path"
        description: "ID of course to return"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Course"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Course not found"
      security:
      - golf_auth:
        - "read:courses"
    post:
      summary: "Updates a course"
      description: "Update a course with the given data"
      operationId: "updateCourse"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "course_id"
        in: "path"
        description: "ID of course to return"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "course data"
        required: true
        schema:
          $ref: "#/definitions/Course"
      responses:
        200:
          description: "Success"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Course not found"
        405:
          description: "Invalid data"
      security:
      - golf_auth:
        - "write:courses"
    delete:
      summary: "Deletes a course"
      description: "Delete the course"
      operationId: "deleteCourse"
      parameters:
      - name: "course_id"
        in: "path"
        description: "ID of course to return"
        required: true
        type: "string"
      responses:
        200:
          description: "Success"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Course not found"
      security:
      - golf_auth:
        - "write:courses"

securityDefinitions:
  golf_auth:
    type: "oauth2"
    authorizationUrl: "http://identity.golf.danpalmer101.io/api/oauth"
    flow: "implicit"
    scopes:
      write:courses: "modify course data"
      read:courses: "read course data"

definitions:
  Course:
    type: "object"
    required:
    - "id"
    - "name"
    properties:
      id:
        type: "string"
      name:
        type: "string"